steal('jquery/view/ejs').then(function( $ ) {
	$.View.preload('naxx_taskbar_views_init_ejs', jQuery.EJS(function( _CONTEXT, _VIEW ) {
		try {
			with( _VIEW ) {
				with( _CONTEXT ) {
					var ___v1ew = [];
					___v1ew.push("<button id=\"languageselector\">Current Language</button>\n");;
					return ___v1ew.join('');
				}
			}
		} catch (e) {
			e.lineNumber = null;
			throw e;
		}
	}));
})