steal('jquery/view/ejs').then(function( $ ) {
	$.View.preload('naxx_login_form_views_init_ejs', jQuery.EJS(function( _CONTEXT, _VIEW ) {
		try {
			with( _VIEW ) {
				with( _CONTEXT ) {
					var ___v1ew = [];
					___v1ew.push("<div id=\"logo\" title=\"VIVOTEK\"></div>\n");
					___v1ew.push("<form onsubmit=\"return false;\">\n");
					___v1ew.push("\t<div class=\"container\">\n");
					___v1ew.push("\t\t<div class=\"login\"><span symbol=\"text:login\">Login</span></div>\n");
					___v1ew.push("\t\t<div class=\"input ui-corner-all\"><input type=\"text\" tabindex=1 id=\"username\" name=\"username\" value=\"\" maxlength=64 /><span class=\"ui-icon-alert ui-icon\" /></div>\n");
					___v1ew.push("\t\t<div class=\"input ui-corner-all\"><input tabindex=2 id=\"password\" name=\"password\" type=\"password\" value=\"\" maxlength=64 /><span class=\"ui-icon-alert ui-icon\" /></div>\n");
					___v1ew.push("\t\t<div class=\"vinput\">\n");
					___v1ew.push("\t\t\t<span class=\"leftside\">\n");
					___v1ew.push("\t\t\t\t<input type=\"checkbox\" id=\"rememberme\" checked=true />\n");
					___v1ew.push("\t\t\t\t<span symbol=\"text:remember_me\">Remember me</span>\n");
					___v1ew.push("\t\t\t</span>\n");
					___v1ew.push("\t\t\t<span class=\"rightside\">\n");
					___v1ew.push("\t\t\t\t<button id=\"button\" value=\"login\" symbol=\"text:login\" tabindex=3>Login</button>\n");
					___v1ew.push("\t\t\t\t<button id=\"entry\" tabIndex=4 />\n");
					___v1ew.push("\t\t\t\t<span class=\"ui-icon ui-icon-triangle-1-s\"></span>\n");
					___v1ew.push("\t\t\t</span>\n");
					___v1ew.push("\t\t</div>\n");
					___v1ew.push("\t</div>\n");
					___v1ew.push("</form>\n");;
					return ___v1ew.join('');
				}
			}
		} catch (e) {
			e.lineNumber = null;
			throw e;
		}
	}));
})